@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import './navbar.scss';
@import './home.scss';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
