extends layout 

block content 
    if(!user.admin)
        form.member-form(action='/admin' method='POST')
            h1= title
            div Enter the correct password to become an admin!
            div 
                label(for='adminCode') Admin Password:
                input#adminCode(type='password' name='adminCode' required='true')
                if (passwordError) 
                    p.error-message #{passwordError}
            button(type='submit') Submit Password
    
    else 
        h3.confirm-msg Congratulations you are an admin!