extends layout


block content
  if locals.currentUser 
    div Welcome #{locals.currentUser.username}
  else 
    p nope
  
  div.message-container 
    each message in messages
      div= message.title
