html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.scss')
  body
    .container 
      nav.navbar 
        a(href='/').title
          h3 Homepage
        a(href='/sign-up').title
          h3 Sign Up
        a(href='/login').title
          h3 Login
        a(href='/create-message').title
          h3 Message
        a(href='/logout').title
          h3 Log Out 
        if locals.currentUser  
          a(href='/member').title
            h3 Become a Member
          a(href='/admin').title  
            h3 Become an Admin
    
    block content
