html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.scss')
  body
    .container 
      nav.navbar 
        a(href='/').title
          h3 Homepage
        a(href='/sign-up').title
          h3 Sign Up
      block content
