html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body 
    nav.navbar 
      div.left-container
        a(href='/').navlink
          svg(width='30px', height='30px')
            use(xlink:href='../images/home.svg#homeIcon')
      div.right-container
        if locals.currentUser 
          ul.navList
            a(href='/create-message')
              li.navlink Message
            a(href='/member')
              li.navlink Member
            a(href='/admin') 
              li.navlink Admin
            a(href='/logout')
              li.navlink Log Out 
        else 
          ul.navList
            a(href='/sign-up')
              li.navlink Sign Up
            a(href='/login')
              li.navlink Login
    block content
