extends layout 

block content 
    if(!user.member)
        form.member-form(action='/member' method='POST')
            h1= title
            div Enter the correct password to become a member!
            div 
                label(for='memberCode') Member Password:
                input#memberCode(type='password' name='memberCode' required='true')
                if (passwordError) 
                    p.error-message #{passwordError}
            button(type='submit') Submit Password
    
    else 
        h3 Congratulations you are a member!
