@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  font-size: 20px;
  color: #d9d9d9;
  background-color: #284B63;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: #d9d9d9;
}

.left-container {
  margin-left: 20px;
  padding: 20px 0 20px 0;
}
.left-container .navlink {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}
.left-container .navlink .title {
  transition: all 0.2s ease;
}
.left-container .navlink:hover {
  color: #FFFFFF;
}
.left-container .navlink:hover svg {
  fill: #FFFFFF;
  transform: scale(1.1);
}
.left-container svg {
  fill: #d9d9d9;
  margin-right: 8px;
  transition: all 0.2s ease;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container .navList {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.right-container .navList li {
  padding-right: 20px;
  transition: all 0.2s ease;
}
.right-container .navList .navlink:hover {
  color: #FFFFFF;
}

.welcome-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  font-size: 22px;
  font-weight: 600;
}
.welcome-msg .username {
  color: #3C6E71;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 25px;
  width: 500px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.message-container .message-title {
  margin-bottom: 10px;
}
.message-container .sub-container {
  margin-top: 10px;
  border-top: 1px solid #D9D9D9;
}
.message-container .sub-container .message-user {
  margin: 10px 0 10px 0;
}
.message-container .delete-form button {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  background-color: #3C6E71;
  color: #D9D9D9;
}
.message-container .delete-form button:hover {
  color: #FFFFFF;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #3C6E71;
  color: #d9d9d9;
  border-radius: 15px;
}
.signup-form .form-title {
  padding: 20px;
}
.signup-form .input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.signup-form .input-container .signup-input {
  width: 250px;
  border-radius: 5px;
  border: none;
}
.signup-form .submit-btn {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  font-size: 20px;
  color: #353535;
  cursor: pointer;
}
.signup-form .submit-btn:hover {
  color: #d9d9d9;
  background-color: #353535;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #3C6E71;
  color: #d9d9d9;
  border-radius: 15px;
}
.login-form .form-title {
  padding: 20px;
}
.login-form .input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.login-form .input-container .login-input {
  width: 250px;
  border-radius: 5px;
  border: none;
}
.login-form .submit-btn {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  font-size: 20px;
  color: #353535;
  cursor: pointer;
}
.login-form .submit-btn:hover {
  color: #d9d9d9;
  background-color: #353535;
}
.login-form .signup-link:hover {
  color: #284B63;
}

.confirm-msg {
  color: #284B63;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.member-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #3C6E71;
  color: #d9d9d9;
  border-radius: 15px;
}
.member-form .input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.member-form .input-container .auth-input {
  width: 250px;
  border-radius: 5px;
  border: none;
}
.member-form .submit-btn {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  font-size: 20px;
  color: #353535;
  cursor: pointer;
}
.member-form .submit-btn:hover {
  color: #d9d9d9;
  background-color: #353535;
}

.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #3C6E71;
  color: #d9d9d9;
  border-radius: 15px;
}
.message-form .form-title {
  padding: 20px;
}
.message-form .input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.message-form .input-container .title-input {
  width: 250px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.message-form .input-container .text-input {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.message-form .submit-btn {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  font-size: 20px;
  color: #353535;
  cursor: pointer;
}
.message-form .submit-btn:hover {
  color: #d9d9d9;
  background-color: #353535;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

label {
  font-size: 20px;
}
